:root {
	--red: #e74c3c;
	--blue: #3498db;
	--green: #2ecc71;
	--gray: gray;

	--transition: 0.2s;
}
body {
	background-color: #112b50;
}
h2 {
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	font-size: 1.5em;
	font-weight: bold;
}
ul {
	margin-top: 16px;
}
p {
	margin-block-start: 1em;
	margin-block-end: 1em;
}
input[type="date" i] {
	font-family: monospace;
}
.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 100vh;
}
.container {
	width: 100%;
	max-width: 1200px;
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 16px;
	border-radius: 8px;
}
