:root {
	--red: #e74c3c;
	--blue: #3498db;
	--green: #2ecc71;
	--gray: gray;
}
body {
	background-color: #112b50;
}
.container {
	width: 100%;
  max-width: 1200px;
  max-width: 600px;
  margin: auto;
	background-color: white;
	padding: 16px;
	border-radius: 8px;
}
